<div class="header-fixo">
  <div class="header" compact>
    <div class="logo">
      <div>
        <a href="https://www.etarta.com.br">
          <img class="portal-logo" src="<%= image_path("favicon-tarta.icon.png") %>" alt="logo eTarta">
        </a>
      </div>
      <div class="etarta">
        <h1>eTARTA</h1>
      </div>
    </div>
    <div class="dropdown">
      <span>DOAÇÕES</span>
      <div class="dropdown-content">
        <p>PIX CNPJ XX.XXX.XXX/0001-00</p>
      </div>
    </div>
  <%#  <div class="actions">
      <div class="links">
        <button class="br-button" type="button" circle mini><i class="fas fa-ellipsis-v"></i>
        </button>
        <ul>
          <li class="title">Acesso Rápido</li>
          <li><a href="https://loterias.caixa.gov.br/Paginas/Mega-Sena.aspx" target="_blank">MEGA</a></li>
          <li><a href="https://loterias.caixa.gov.br/Paginas/Dupla-Sena.aspx" target="_blank">DUPLA</a></li>
          <li><a href="https://loterias.caixa.gov.br/Paginas/Quina.aspx" target="_blank">QUINA</a></li>
          <li><a href="https://loterias.caixa.gov.br/Paginas/Lotofacil.aspx" target="_blank">LOTOFÁCIL</a></li>
        </ul>
      </div>
    </div>
    <div class="menu">
      <button class="br-button" type="button" circle mini><i class="fas fa-bars"></i>
      </button>
      <div class="title"> %>
      <%#  <%= link_to "BLÁ BLÁ", root_path, class: "title" %>
      <%# </div>
    </div> %>
    <div class="login-form">
      <div>
        <form>
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control-sm" id="input_senha" placeholder="Usuário">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control-sm" id="input_senha" placeholder="Senha">
          </div>
        </form>
      </div>
      <input type="submit" class="btn btn-primary" id="botao-form-login" value="Login" >
    </div>
  </div>
  <div id="back_linha-morta">
    <div class="linha-morta"></div>
  </div>
</div>

